<%- include('partials/header'); -%>
    <h1>
        Home
    </h1>
    <p>
        <%= content %>
    </p>
    <% allPosts.forEach(function(e) { %>
        <h1>
            <%= e.postTitle %>
        </h1>
        <p>
            <%= e.postBody.substring(0,100) + '...' %>
            <a href="/posts/<%= e.postTitle %>">
                Read More
            </a>
        </p>
    <% }) %>
<%- include('partials/footer'); -%>